@import "style/variables";

.SearchBarContainer {
    z-index: 0;
    position: relative;
    overflow: hidden;
    transition: height 0.1s linear;
    display: grid;
    width: 100%;
    background-color: #FFC017;
    border-bottom: 1px solid #1A1919;
    grid-template-rows: 50px 50px;
    align-items: center;

    .SearchBarMain {
        margin: 0px 105px;
        height: 40px;
        font-size: 16px;
        display: grid;
        grid-template-columns: 11fr 1fr;
        column-gap: 30px;

            .SearchBarMainInput {
                width: 100%;
                height: 100%;
                padding: 0px 15.5px;
                border: 1px solid #1A1919;
                border-radius: 5px;
            }

            .SearchBarMainInput::placeholder {
                color: $black-50;
            }

            .SearchBarMainInput:focus {
                outline:none;
            }

            .SearchBarFilterButton {
                border: 1px solid #1A1919;
                border-radius: 30px;
                background-color: #1A1919;
                color: white;
                transition: all 0.2s linear;

            }

            .SearchBarFilterButton:hover {
                border-radius: 5px;
            }
    }

    .SearchBarFilterFunctionality {
        height: 50px;
        margin: 0px 105px;
        display: grid;
        align-items: center;

        .FilteringSection {
            display: flex;
            flex-direction: row;
            justify-content: start;
        }
        .FilteringSection > * {
            margin-right: 30px;
        }
    }

}
