@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.v-center{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}
