@import "style/variables";

.RadioButtonsHolder {
    display: flex;
    flex-direction: row;

    .RadioButton {
        transition: all 0.1s linear;
    }

    .RadioButton:hover {
        transform: scale(1.3);
    }

    .RadioButton:checked {
        accent-color: #faa;
        border: none;
    }
    .RadioButton:checked:hover {
        accent-color: #faa;
        transform: scale(1.3);
    }
}
.RadioButtonsHolder > * {
    margin-right: 6px;
}
